<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <h1>Create a Hat</h1>
    <a href="/">Homepage</a>
    <form action="/upper-wear" method="POST">
      <label for="name">Name</label>
      <input type="text" id="name" name="name" required />

      <label for="gender">Gender</label>
      <select id="gender" name="gender" required>
        <option value="M">M</option>
        <option value="F">F</option>
      </select>

      <label for="size">Size</label>
      <select id="size" name="size" required>
        <option value="XXS">XXS</option>
        <option value="XS">XS</option>
        <option value="S">S</option>
        <option value="M">M</option>
        <option value="L">L</option>
        <option value="XL">XL</option>
        <option value="32XL">32XL</option>
      </select>

      <label for="image">Image (url)</label>
      <input type="text" id="image" name="image" />

      <label for="type">Type</label>
      <select id="type" name="type" required>
        <option value="T-Shirt">T-Shirt</option>
        <option value="Jacket">Jacket</option>
        <option value="Sweater">Sweater</option>
        <option value="Sleeved Shirt">Sleeved Shirt</option>
      </select>

      <button>Submit</button>
    </form>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
