<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <h1>Homepage</h1>
    <ul>
      <li><a href="/">Homepage</a></li>
      <li><a href="/create">Create</a></li>
      <li><a href="/hats">Hats</a></li>
      <li><a href="/shoes">Shoes</a></li>
      <li><a href="/upper-wear">Upper Wear</a></li>
      <li><a href="/bottom-wear">Bottom Wear</a></li>
    </ul>
  </body>
  <%- include('./partials/footer.ejs') %>
</html>
